<?xml version="1.0" encoding="UTF-8"?>
<widget id="com.colegioapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets">
    <name>Colegio App</name>
	<description>Aplicacion para el control de comunicados, citaciones, tareas, etc de uno o varios hijos.</description>
	

	<feature name="NetworkStatus">
		<param name="android-package" value="org.apache.cordova.networkinformation.NetworkManager" />
		<param name="ios-package" value="CDVConnection" />
	</feature>

	<access origin="*" subdomains="true" />
</widget>